<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Bankomat</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1> Lista dostępnych bankomatów</h1>
		<br>
		<p>Wybierz</p>



			<% atms.forEach(function(atm){ %>
		<a href="http://localhost:8080/withdrawal/<%= atm.atm_id %>">
			<p style="background-color: deepskyblue"  id="<%= atm.atm_id %>">
			<%= atm.name %>
			</p>
		</a>
			<% }) %>



	</div>

</div>

</body>
</html>