<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Bankomat</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-info"></span> Strona Użytkownika </h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Profil </h3>

					<p>
						<strong>id</strong>: <%= user.username %><br>
						<%= data %><br>
						<%= saldo %><br>
						 <%= dostepne %><br>

					</p>

			</div>
		</div>

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-money "></span> Wypłata </h3>

				<p>
					<a href="http://localhost:8080/atms">
					<button type="button" class="btn btn-info">Wypłać</button>
					</a>
				</p>

			</div>
		</div>
	</div>

</div>
</body>
</html>
