<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Bankomat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span> Podsumowanie </h1>



        <% if (atmid) { %>
        <strong>Bankomat </strong>  <%= atmid %> <br>
        <% } %>

        <% if (user) { %>
        <strong>User </strong>  <%= user %> <br>
        <% } %>

        <% if (money) { %>
        <strong>Wypłacana gotówka </strong>  <%= money %> zł<br>
        <% } %>


        <% if (error != null) { %>
        <p style="background-color: red">
            <%= error %>
        </p>
        <% } %>

        <% if (cashTable != null) { %>
        <strong>Banknoty wydane przez bankomat </strong><br>
            <% cashTable.forEach(function(cash){ %>
        <p>
                    <%= cash[0] %> x <%= cash[1] %> zł
        </p>
            <% }) %>

        <% } %>

        <a href="/logout" class="btn btn-default btn-sm">Zakończ</a>

    </div>

</div>

</body>
</html>