<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Bankomat</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1></span> Wypłata </h1>

		<strong>Użytkownik</strong>
		<%=user%>
		<br>
		<!-- LOGIN FORM -->
		<form action="/withdrawal" method="post" class="registerForm">
			<div class="form-group">
				<label>Kwota wypłaty</label>
				<input id ="money" type ="range" min ="50" max="5000" step ="50" value ="50" name = "money" onchange="outputUpdate(value)"/>
				<output for=money id=volume>50 zł</output>
			</div>
			<div class="form-group" hidden="true">
				<input type="text" class="form-control" name="atmid" value = "<%=atmid%>">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Wypłać</button>
		</form>








	</div>

</div>
<script>

	function outputUpdate(vol) {

		document.querySelector('#volume').value = vol+' zł';

	}


</script>
</body>
</html>